* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    background-image: url(./Images/background.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 100vh;
}

.container {
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
}

nav .fas {
    display: none;
}

nav ul li  {
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    position: relative;
}

nav ul li a::after {
    content: "";
    background-color: #5fc1ee;
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: .5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header_text {
    margin-top: 10%;
    margin-left: 12%;
    font-size: 35px;
}

.header_text span {
    color: #5fc1ee;
}

#typed-name::after {
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: cursor 0.7s infinite;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#about {
    margin: 50px 20px 40px 0px;
    height: 60vh;
}

#about .row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 12%;
}

#about_col_1 {
    flex-basis: 35%;
}

#about_col_1 img {
    width: 100%;
    border-radius: 15px;
}

#about_col_2 {
    flex-basis: 60%;
    margin-left: 1.5rem;
    height: 60vh;
}
    

.sub_title {
    font-size: 50px;
}

.tab_titles {
    display: flex;
    margin: 20px 0px 30px;
}

.tab_links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #5fc1ee;
}

.tab_links::after {
    content: "";
    background-color: #5fc1ee;
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: .5s;
}

.tab_links.active_link::after {
    width: 50%;
}

.tab_contents {
    display: none;
}

.active_tab {
    display: block;
}

.tab_contents ul li {
    margin: 10px 0px;
    list-style: none;
}

.tab_contents span {
    color: #9ed3eb;
}

#portfolio {
    margin: 50px 0px 0px 12%;
}

.work_list {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin-top: 50px;

}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.8),#9ed3eb);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #9ed3eb;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.03);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px 38%;
    width: fit-content;
    border: 1px solid #5fc1ee;
    color: #fff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.5s;
}

.btn:hover {
    background: #9ed3eb;
    transition: 1s ease-in-out;
}

#contact {
    margin: 50px 0px 0px 12%;
}

.contact_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    width: 80%;
}


.contact_list a {
    font-size: 50px;
}

.contact_list a i {
    transition: 1s ease;
}

.contact_list a i:hover {
    transform: scale(1.2);
}

.btn_2 {
    display: block;
    margin: 50px 0px;
    width: fit-content;
    border: 1px solid #5fc1ee;
    color: #fff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    background-color: #5fc1ee;
}

@media screen and (max-width:600px) {
#header {
    background-image: url(./Images/background-2.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    height: 60vh;
    width: 100%;
}

.container {
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul  {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: -200px;
    width: 200px;
    height: 60vh;
    padding-top: 50px;
    background: #5fc1ee;
    transition: 1s;
}

nav ul li {
    display: block;
    margin: 25px;
}

nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    position: relative;
}

nav ul li a::after {
    content: "";
    background-color: #5fc1ee;
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: .5s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav .fas {
    display: block;
    font-size: 25px;
}

.header_text {
    margin-top: 10%;
    margin-left: 12%;
    font-size: 15px;
}

.header_text span {
    color: #5fc1ee;
}

#typed-name::after {
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: cursor 0.7s infinite;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#about {
    margin: 10px 20px 30px 0px;
    height: 120vh;
}

#about .row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 0%;
}

#about_col_1 {
    flex-basis: 100%;
}

#about_col_1 img {
    width: 100%;
    margin-left: 12%;
    margin-bottom: 20px;
    border-radius: 15px;
}

#about_col_2 {
    flex-basis: 100%;
    margin-left: 12%;
    height: 60vh;
    font-size: 14px;
}

.sub_title {
    font-size: 40px;
}

.tab_titles {
    display: flex;
    margin: 20px 0px 30px;
}

.tab_links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #5fc1ee;
}

.tab_links::after {
    content: "";
    background-color: #5fc1ee;
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: .5s;
}

.tab_links.active_link::after {
    width: 50%;
}

.tab_contents {
    display: none;
}

.active_tab {
    display: block;
}

.tab_contents ul li {
    margin: 10px 0px;
    list-style: none;
}

.tab_contents span {
    color: #9ed3eb;
}

#portfolio {
    margin: 50px 0px 0px 12%;
}

.work_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.work img {
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), #9ed3eb);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #9ed3eb;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.03);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px 18%;
    width: fit-content;
    border: 1px solid #5fc1ee;
    color: #fff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.5s;
}

.btn:hover {
    background: #9ed3eb;
    transition: 1s ease-in-out;
}

#contact {
    margin: 50px 0px 0px 12%;
}

.contact_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    width: 80%;
}


.contact_list a {
    font-size: 20px;
}

.contact_list h4 {
    font-size: 13px;
}

.contact_list a i {
    transition: 1s ease;
}

.contact_list a i:hover {
    transform: scale(1.2);
}

.btn_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border: 1px solid #5fc1ee;
    color: #fff;
    padding: 14px 30px;
    border-radius: 6px;
    text-decoration: none;
    background-color: #5fc1ee;
}
}