@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald:wght@200;300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #d8d8d8;
    background-color: #1a1b20;
    padding-top: 100px;
    font-family: Oswald, sans-serif;
}

a {
    text-decoration: none;
}

.main_container {
    width: 1150px;
    display: flex;
    flex-direction: column;
    margin: 0px 70px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .fas {
    display: none;
}

.link_container {
    border: 1px solid #313237;
    border-radius: 100px;
    padding: 20px 0;
}


.link_container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav_link {
    color: rgba(216, 216, 216, .5);
    text-transform: lowercase;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px 30px 20px;
    font-size: 20px;
    font-weight: 200;
    transition: all .2s;
    text-decoration: none;
}

.nav_link:active {
    color: #d5d5d5;
    background-color: #1a1b20;
    border: 1px solid #313237;
    border-radius: 30px;
    padding: 15px 30px;
}

.current {
    color: #d5d5d5;
    background-color: #0064d8;
    border: 1px solid #313237;
    border-radius: 30px;
    padding: 15px 30px;
}

section {
    margin-top: 70px;
}

.site-map {
    background-image: linear-gradient(#191a1f, #222328);
    border: 1px solid #313237;
    border-radius: 50px;
    justify-content: space-between;
    margin-bottom: 70px;
    padding: 7px 7px 8px;
    display: flex;
}

.sitemap-page {
    align-items: center;
    display: flex;
}

.sitemap-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}


.sitemap-title {
    color: #d8d8d8;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    font-family: Oswald, sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
}

.sitemap-info {
    align-items: center;
    margin-right: 40px;
    display: flex;
}

.sitemap-text {
    color: #d8d8d8;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 300;
}

.about-main-container {
    display: flex;
}

.about-me-info {
    background-color: #111217;
    border: 1px solid #313237;
    border-radius: 20px;
    padding: 40px 35px 0;
}

.inner-pages-main-title {
    color: #d8d8d8;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
}

.title-blue-line {
    width: 100px;
    min-height: 8px;
    background-color: #0064d8;
}

.about-me-span {
    color: #d8d8d8;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
}

.about-me-img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -5px;
}

.about-me-text {
    padding-top: 30px;
    padding-left: 30px;
}

.rotating-circle {
    width: 100px;
    height: 100px;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.about-me-description {
    color: #d8d8d8;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 46px;
    line-height: 64px;
}

.space-line {
    width: 100%;
    min-height: 5px;
    background-color: #212227;
    margin-top: 40px;
    margin-bottom: 40px;
}

.inner-pages-main-title {
    color: #d8d8d8;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
}

.title-blue-line {
    width: 100px;
    min-height: 8px;
    background-color: #0064d8;
}

.space-line {
    width: 100%;
    min-height: 5px;
    background-color: #212227;
    margin-top: 40px;
    margin-bottom: 40px;
}

.tools-images {
    background-color: #17181d;
    border: 1px solid #313237;
    border-radius: 200px;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    padding: 25px;
    display: flex;
}

.tools-item {
    position: relative;
}

.tools-item-text {
    color: #d8d8d8;
    text-align: center;
    text-transform: uppercase;
    background-color: #212227;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    display: none;
    position: absolute;
    top: -64px;
    bottom: auto;
    left: 0%;
    right: 0%;
}

.tools-item:hover .tools-item-text {
    display: block;
}

.tools-item-image {
    background-color: #1a1b20;
    border: 7px solid #1e1f24;
    border-radius: 50%;
    padding: 20px;
}

.footer {
    margin-top: 50px;
    padding-bottom: 50px;
}

.copyright-text {
    color: #d8d8d8;
    text-align: center;
    margin-bottom: 0;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
}

@media screen and (max-width: 767px) {
    
    .main_container {
        width: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 500px;

    }

    nav ul {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        bottom: 0;
        right: -200px;
        width: 200px;
        padding-top: 50px;
        background: linear-gradient(to bottom, #1a1b20, #25313b);
        transition: 1s;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 20px;
        cursor: pointer;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
        position: relative;
    }

    nav .fas {
        display: block;
        font-size: 45px;
        margin-right: 20px;
        cursor: pointer;
    }

    .link_container {
        border: none;
    }

    .site-map {
        width: 500px;
    }

    .about-main-container {
        width: 500px;
        display: flex;
        flex-direction: column;
    }

    .tools-images {
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: 1fr;
        align-content: center;
        justify-items: center;
        display: grid;
        width: 500px;
    }

    .tools-item {
        margin-bottom: 20px;
    }

    .tools-item-text {
        margin-bottom: 10px;
        display: block;
        position: static;
    }
}